<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>MediCare</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">



    <!-- Main CSS File -->
    <link href="~/Content/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Medicare
    * Template URL: https://bootstrapmade.com/medicio-free-bootstrap-theme/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body class="index-page">

    <header id="header" class="header sticky-top">

        <div class="topbar d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="d-none d-md-flex align-items-center">
                    <i class="bi bi-clock me-1"></i> Monday - Saturday, 24/7
                </div>
                <div class="d-flex align-items-center">
                    <i class="bi bi-phone me-1"></i> Call us now +917888298932
                </div>
            </div>
        </div><!-- End Top Bar -->

        <div class="branding d-flex align-items-center">

            <div class="container position-relative d-flex align-items-center justify-content-end">
                <a href="index.html" class="logo d-flex align-items-center me-auto">
                    @*<img src="~/Content/logo2.jpg" style="height:210px; width:280px;"/>*@
                    @*<img src="~/Content/assets/img/logo.png" alt="">*@
                    <img src="~/Content/1744827671059.jpg" @*alt=""*@ style="height:300px; width:190px;">
                    <!-- Uncomment the line below if you also wish to use a text logo -->
                    <!--<h1 class="sitename">MediCare</h1>-->
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="#hero" class="active">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#departments">Departments</a></li>
                        <li><a href="#doctors">Doctors</a></li>

                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>

                <a class="cta-btn" href="https://medicare.orgsoft.in">Make an Appointment</a>

            </div>

        </div>

    </header>

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section">

            <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

                <div class="carousel-item active">
                    <img src="~/Content/assets/img/hero-carousel/hero-carousel-1.jpg" alt="">
                    <div class="container">
                        <h2>Welcome to MediCare</h2>
                        <p>“Healing is a matter of time, but it is sometimes also a matter of opportunity.”</p>
                        <a href="#about" class="btn-get-started">Read More</a>
                    </div>
                </div><!-- End Carousel Item -->

                <div class="carousel-item">
                    <img src="~/Content/assets/img/hero-carousel/hero-carousel-2.jpg" alt="">
                    <div class="container">
                        <h2>Care with pride</h2>
                        <p>"Care with pride means giving your best not just out of duty, but out of deep respect for every life you touch. It’s about wearing compassion like a badge of honor knowing that kindness, patience, and empathy are powerful acts. When we care with pride, we don’t just heal bodies we uplift souls."</p>
                        <a href="#about" class="btn-get-started">Read More</a>
                    </div>
                </div><!-- End Carousel Item -->

                <div class="carousel-item">
                    <img src="~/Content/assets/img/hero-carousel/hero-carousel-3.jpg" alt="">
                    <div class="container">
                        <h2>Stay strong,You’ve got this.</h2>
                        <p>"It speaks of resilience the quiet power to keep going, even when the road feels uncertain. You may not feel ready, but you are capable. You’ve made it this far, and you’re not alone."</p>
                        <a href="#about" class="btn-get-started">Read More</a>
                    </div>
                </div><!-- End Carousel Item -->

                <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

                <ol class="carousel-indicators"></ol>

            </div>

        </section><!-- /Hero Section -->
        <!-- Featured Services Section -->
        <section id="featured-services" class="featured-services section">

            <div class="container">

                <div class="row gy-4">

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="fas fa-heartbeat icon"></i></div>
                            <h4><a href="" class="stretched-link">Patient Information</a></h4>
                            <p>Stores and manages complete patient records including personal details, medical history, appointments, prescriptions, lab reports, and discharge summaries.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="fas fa-pills icon"></i></div>
                            <h4><a href="" class="stretched-link"> Inventory</a></h4>
                            <p>Tracks and manages the availability of medicines, consumables, and equipment in real time. Prevents stockouts or overstocking, monitors expiry dates, and streamlines procurement.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="fas fa-thermometer icon"></i></div>
                            <h4><a href="" class="stretched-link">Appointment</a></h4>
                            <p>Allows patients to book, reschedule, or cancel appointments online or through reception. It streamlines doctors' calendars, reduces waiting time.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="fas fa-dna icon"></i></div>
                            <h4><a href="" class="stretched-link"> Billing</a></h4>
                            <p>Generates detailed invoices for consultations, tests, treatments, and medications. Supports various payment methods and automates insurance claims, reducing human error and improving financial transparency.</p>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Featured Services Section -->
        <!-- Call To Action Section -->
        <section id="call-to-action" class="call-to-action section accent-background">

            <div class="container">
                <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                    <div class="col-xl-10">
                        <div class="text-center">
                            <h3>In an emergency? Need help now?</h3>
                            <p>
                                "Our dedicated emergency team is ready 24/7 to provide immediate, life saving care. Every second counts and we’re here when you need us most."

                            </p>
                            <a class="cta-btn" href="https://medicare.orgsoft.in">Make an Appointment</a>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- /Call To Action Section -->
        <!-- About Section -->
        <section id="about" class="about section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>About Us<br></h2>
                <p>Welcome to MediCare, a comprehensive and intelligent Hospital Management System designed to simplify healthcare operations and enhance patient care.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">
                    <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
                        <img src="~/Content/lata2.jpg" class="img-fluid" alt="">
                        @*<img src="~/Content/lata.jpg"  class="img-fluid" alt="">*@
                        <a href="https://youtu.be/s98h2ez0Q9c?si=Vl245BifT0kd66zM" class="glightbox pulsating-play-btn"></a>
                    </div>
                    <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
                        <h3>MEDICARE HOSPITAL</h3>
                        <p class="fst-italic">
                            The MediCare Hospital is attached to the N.K.P.Salve Institute of Medical Sciences & Research Centre as a teaching hospital. The hospital has been upgraded to a 1130 bedded fully equipped hospital. It is located at Digdoh Hills and serves the people of nearby villages and industrial areas of Central India. It has excellent facilities for hospitalization of indoor patients. The speciality units of the hospital are well patronized by the people because of its location and its affordable charges. There is 24×7 hours Casualty and disaster management facility. It provides facilities like 24 hours Pathology and Blood Bank, ECG, Radiology including MRI, CT Scan, Color Doppler etc.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> <span>Medicine Intensive Care Unit.</span></li>
                            <li><i class="bi bi-check2-all"></i> <span>Neonatal Intensive Care Unit.</span></li>
                            <li><i class="bi bi-check2-all"></i> <span>Surgical Intensive Care Unit.</span></li>
                        </ul>
                        <p>
                            MediCare Hospital is committed to delivering quality patient care at affordable price through practices that are ethical and equitable, to practice high standards of medical care, creating patient friendly health care eco system through continual improvement, and to ensure that the patient is treated with respect, compassion and dignity in a safe environment.
                        </p>
                    </div>
                </div>

            </div>

        </section><!-- /About Section -->
        <!-- Stats Section -->
        <section id="stats" class="stats section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="fas fa-user-md flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Doctors</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="far fa-hospital flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Departments</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="fas fa-flask flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Research Labs</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="fas fa-award flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                                <p>Awards</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                </div>

            </div>

        </section><!-- /Stats Section -->
        <!-- Features Section -->
        <section id="features" class="features section">

            <div class="container">

                <div class="row justify-content-around gy-4">
                    <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="~/Content/assets/img/features.jpg" alt=""></div>

                    <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                        <h3>For whoever is seeking pleasures, let him flee from them</h3>
                        <p>To be pleasure and even exercise. To reject is here we accuse. Not itself and but the smallest times of praising. Unleashed pleasure but to make bodily pains except.</p>

                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                            <i class="fa-solid fa-hand-holding-medical flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Who We Are</a></h4>
                                <p>We are a patient-centered healthcare institution committed to providing compassionate, high-quality medical care.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                            <i class="fa-solid fa-suitcase-medical flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Our Mission</a></h4>
                                <p>To deliver exceptional healthcare services with integrity, empathy, and excellence. We aim to make advanced medical care accessible, affordable, and respectful to every individual who walks through our doors.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="500">
                            <i class="fa-solid fa-staff-snake flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link"> Our Facilities</a></h4>
                                <p>We offer state-of-the-art medical infrastructure, including modern diagnostic labs, specialized treatment units, emergency care, and advanced surgical suites.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="600">
                            <i class="fa-solid fa-lungs flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Our Values</a></h4>
                                <p>We are guided by compassion, respect, ethics, teamwork, and a relentless commitment to quality care. These values shape every patient interaction and decision we make.</p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>

            </div>

        </section><!-- /Features Section -->
        <!-- Services Section -->
        <section id="services" class="services section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Services</h2>
                <p>From prompt emergency response to personalized treatment plans, we prioritize your well-being at every step. Trusted by thousands, we combine medical expertise with genuine human care to ensure you and your loved ones are always in good hands.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item  position-relative">
                            <div class="icon">
                                <i class="fas fa-heartbeat"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Emergency & Trauma Care</h3>
                            </a>
                            <p>24/7 emergency services with advanced life-support systems and trained medical staff to handle critical injuries, accidents, and urgent medical conditions quickly and efficiently.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fas fa-pills"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3> Outpatient & Inpatient Services</h3>
                            </a>
                            <p>Comprehensive care for both walk-in patients and those requiring hospital admission. From consultations to post treatment recovery, we ensure seamless and personalized care.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fas fa-hospital-user"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Diagnostic Services</h3>
                            </a>
                            <p>Modern pathology labs and imaging facilities (X-ray, CT, MRI, ultrasound) provide accurate and timely diagnostics to support effective treatment and monitoring.</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fas fa-dna"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3> Surgery & Operation Theaters</h3>
                            </a>
                            <p>
                                Equipped with advanced surgical technologies and sterile environments, our operation theaters support general, emergency, and specialty surgeries with high safety standards.

                            </p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fas fa-wheelchair"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>Pharmacy Services</h3>
                            </a>
                            <p>An in-house pharmacy that ensures 24/7 availability of prescribed medicines, with strict quality control and patient safety in mind.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="fas fa-notes-medical"></i>
                            </div>
                            <a href="#" class="stretched-link">
                                <h3> Maternity & Child Care</h3>
                            </a>
                            <p>Comprehensive maternal health, delivery, and pediatric care with experienced gynecologists and child specialists in a family-friendly environment.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Services Section -->
        <!-- Appointment Section -->
        <!--<section id="appointment" class="appointment section light-background">-->

            <!-- Section Title -->
            <!--<div class="container section-title" data-aos="fade-up">
                <h2>MAKE AN APPOINTMENT</h2>
                <p>Let us help you take the first step toward better health because timely care makes all the difference.</p>
            </div>--><!-- End Section Title -->
        

        <!--</section>--><!-- /Appointment Section -->
        <!-- Tabs Section -->
        <section id="departments" class="tabs section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Departments</h2>
                <p>“Here, we don’t just treat illness, we care for people.”</p>
            </div>
            <!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tabs-tab-1">Cardiology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-2">Neurology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-3">Hepatology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-4">Pediatrics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tabs-tab-5">Ophthalmologists</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tabs-tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Cardiology</h3>
                                        <p class="fst-italic">Expert Heart Care, Every Beat Matters</p>
                                        <p>Our Cardiology Department offers advanced diagnostic, interventional, and surgical treatments for all types of heart conditions. From routine heart check-ups to complex procedures like angioplasty and bypass surgery, our team of experienced cardiologists and cardiac surgeons ensures compassionate, evidence-based care.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/Content/assets/img/departments-1.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Neurology</h3>
                                        <p class="fst-italic">Advanced Care for the Brain, Spine & Nerves</p>
                                        <p>Our Neurology Department specializes in the diagnosis and treatment of disorders related to the brain, spinal cord, and nervous system. From migraines and epilepsy to stroke, Parkinson’s, and neuropathy our expert neurologists provide comprehensive, compassionate care.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/Content/assets/img/departments-2.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Hepatology</h3>
                                        <p class="fst-italic">
                                            Specialized Care for Liver & Digestive Health

                                        </p>
                                        <p>Our Hepatology Department focuses on the prevention, diagnosis, and treatment of liver-related diseases and disorders of the digestive system. From fatty liver and hepatitis to cirrhosis and liver failure, our skilled hepatologists provide expert, personalized care.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/Content/assets/img/departments-3.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-tab-4">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Pediatrics</h3>
                                        <p class="fst-italic">Compassionate Care for Little Lives</p>
                                        <p>Our Pediatrics Department offers comprehensive healthcare for infants, children, and adolescents. From routine check-ups and vaccinations to treatment of common childhood illnesses and chronic conditions, we provide care that is gentle, thorough, and child-focused.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/Content/assets/img/departments-4.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-tab-5">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Ophthalmologists</h3>
                                        <p class="fst-italic">Expert Vision Care for Clearer Tomorrows</p>
                                        <p>Our Ophthalmology Department provides advanced care for all eye and vision-related conditions. From routine eye exams and vision correction to the treatment of cataracts, glaucoma, diabetic retinopathy, and other eye diseases, our expert ophthalmologists offer precise and personalized care.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="~/Content/assets/img/departments-5.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Section Title -->

        </section><!-- /Tabs Section -->
        <!-- Testimonials Section -->
        <section id="testimonials" class="testimonials section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Testimonials</h2>
                <p>At our hospital, patient trust and satisfaction are at the heart of everything we do. In this section, you’ll hear real stories from patients and families who have experienced our care firsthand. Their words reflect the compassion, expertise, and dedication of our medical team.</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper" data-speed="600" data-delay="5000" data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 40
                            },
                            "1200": {
                              "slidesPerView": 3,
                              "spaceBetween": 20
                            }
                          }
                        }
                    </script>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class=" bi bi-quote quote-icon-left"></i>
                                    <span>This Hospital Management System has revolutionized the way we manage patient records and appointments. The intuitive interface allows me to access critical information instantly, helping me provide better care with less paperwork. It’s truly a game-changer for any medical professional!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/Content/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Prajwal Gode</h3>
                                <h4>Ceo &amp; Founder</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Managing daily operations used to be stressful, but this system has streamlined everything — from scheduling staff shifts to inventory control. The reporting tools are excellent and have made compliance and audits much easier. Highly recommended for efficient hospital management.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/Content/parthjpg.jpg" class="testimonial-img" alt="">
                                <h3>Parth Hiwase</h3>
                                <h4>Designer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>I was amazed at how smooth my check-in and discharge process was. The system made it easy to view my test reports, billing details, and upcoming appointments right from my phone. It saved me so much time and stress!</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/Content/prathameshjpg.jpg" class="testimonial-img" alt="">
                                <h3>Prathmesh Chauvan</h3>
                                <h4>Store Owner</h4>
                            </div>
                        </div><!-- End testimonial item -->


                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Testimonials Section -->
        <!-- Doctors Section -->
        <section id="doctors" class="doctors section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Doctors</h2>
                <p>Our Hospital Management System empowers doctors with instant access to patient histories, lab reports, prescriptions, and appointment schedules all in one place. Designed for efficiency and precision, it reduces paperwork and allows doctors to focus on what truly matters: delivering exceptional care.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/Content/assets/img/doctors/doctors-1.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Ayush Deulkar</h4>
                                <span>Chief Medical Officer</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/Content/assets/img/doctors/doctors-2.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Kamlini Bhasme</h4>
                                <span>Anesthesiologist</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/Content/assets/img/doctors/doctors-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Vidhan Kadu</h4>
                                <span>Cardiology</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="~/Content/assets/img/doctors/doctors-4.jpg" class="img-fluid" alt="">
                                @*<img src="~/Content/ai-generatidoctor.jpg" class="img-fluid" alt="">*@
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Ragini Shende</h4>
                                <span>Neurosurgeon</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                </div>

            </div>

        </section><!-- /Doctors Section -->
        <!-- Gallery Section -->
        <section id="gallery" class="gallery section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Gallery</h2>
                <p>“You are in good hands. We’re here with you, every step of the way.”</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                        "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "centeredSlides": true,
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 0
                            },
                            "768": {
                              "slidesPerView": 3,
                              "spaceBetween": 20
                            },
                            "1200": {
                              "slidesPerView": 5,
                              "spaceBetween": 20
                            }
                          }
                        }
                    </script>
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/Content/assets/img/gallery/gallery-1.jpg"><img src="~/Content/assets/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/Content/assets/img/gallery/gallery-2.jpg"><img src="~/Content/assets/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/Content/assets/img/gallery/gallery-3.jpg"><img src="~/Content/assets/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/Content/assets/img/gallery/gallery-4.jpg"><img src="~/Content/assets/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/Content/assets/img/gallery/gallery-5.jpg"><img src="~/Content/assets/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/Content/assets/img/gallery/gallery-6.jpg"><img src="~/Content/assets/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/Content/assets/img/gallery/gallery-7.jpg"><img src="~/Content/assets/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
                        <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/Content/assets/img/gallery/gallery-8.jpg"><img src="~/Content/assets/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Gallery Section -->
        <!-- Pricing Section -->
        <!--<section id="pricing" class="pricing section">-->
        <!-- Section Title -->
        <!--<div class="container section-title" data-aos="fade-up">
            <h2>Pricing</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div>-->
        <!-- End Section Title -->
        <!--<div class="container">

        <div class="row gy-3">

            <div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="pricing-item">
                    <h3>Free</h3>
                    <h4><sup>$</sup>0<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li class="na">Pharetra massa</li>
                        <li class="na">Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div>-->
        <!-- End Pricing Item -->
        <!--<div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="pricing-item featured">
                <h3>Business</h3>
                <h4><sup>$</sup>19<span> / month</span></h4>
                <ul>
                    <li>Aida dere</li>
                    <li>Nec feugiat nisl</li>
                    <li>Nulla at volutpat dola</li>
                    <li>Pharetra massa</li>
                    <li class="na">Massa ultricies mi</li>
                </ul>
                <div class="btn-wrap">
                    <a href="#" class="btn-buy">Buy Now</a>
                </div>
            </div>
        </div>-->
        <!-- End Pricing Item -->
        <!--<div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="pricing-item">
                <h3>Developer</h3>
                <h4><sup>$</sup>29<span> / month</span></h4>
                <ul>
                    <li>Aida dere</li>
                    <li>Nec feugiat nisl</li>
                    <li>Nulla at volutpat dola</li>
                    <li>Pharetra massa</li>
                    <li>Massa ultricies mi</li>
                </ul>
                <div class="btn-wrap">
                    <a href="#" class="btn-buy">Buy Now</a>
                </div>
            </div>
        </div>-->
        <!-- End Pricing Item -->
        <!--<div class="col-xl-3 col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="pricing-item">
                <span class="advanced">Advanced</span>
                <h3>Ultimate</h3>
                <h4><sup>$</sup>49<span> / month</span></h4>
                <ul>
                    <li>Aida dere</li>
                    <li>Nec feugiat nisl</li>
                    <li>Nulla at volutpat dola</li>
                    <li>Pharetra massa</li>
                    <li>Massa ultricies mi</li>
                </ul>
                <div class="btn-wrap">
                    <a href="#" class="btn-buy">Buy Now</a>
                </div>
            </div>
        </div>-->
        <!-- End Pricing Item -->
        <!--</div>

            </div>

        </section>-->
        <!-- /Pricing Section -->
        <!-- Faq Section -->
        <section id="faq" class="faq section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Frequently Asked Questions</h2>
                <p>
                    “A smile, a kind word, a helping hand small things make a big difference.”

                </p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row justify-content-center">

                    <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

                        <div class="faq-container">

                            <div class="faq-item">
                                <h3> What is a MediCare?</h3>
                                <div class="faq-content">
                                    <p>A MediCare is a digital platform that streamlines hospital operations, including patient management, appointments, billing, staff scheduling, inventory, medical records, and more all in one secure system.</p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->

                            <div class="faq-item">
                                <h3> Who can use this system?</h3>
                                <div class="faq-content">
                                    <p>
                                        Our HMS is designed for hospitals, clinics, doctors, nurses, administrative staff, lab technicians, pharmacists, and even patients. Each user has a dedicated dashboard with role-based access.
                                    </p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->

                            <div class="faq-item">
                                <h3>Is patient data secure?</h3>
                                <div class="faq-content">
                                    <p>
                                        Yes, absolutely. We use advanced encryption protocols and follow healthcare data protection standards (like HIPAA) to ensure that all patient data is secure and confidential.
                                    </p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->

                            <div class="faq-item">
                                <h3> Does it support multiple hospital branches?</h3>
                                <div class="faq-content">
                                    <p>Yes, the system supports multi-branch hospital management, allowing administrators to manage and monitor several facilities from a single platform.</p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->

                            <div class="faq-item">
                                <h3>What kind of support do you offer?</h3>
                                <div class="faq-content">
                                    <p>
                                        We offer 24/7 technical support via phone, email, and chat. Our dedicated support team is always ready to assist with any queries or issues.

                                    </p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->

                            <div class="faq-item">
                                <h3> How do we get started?</h3>
                                <div class="faq-content">
                                    <p>
                                        Simply contact us through the Get in Touch page or request a free demo. Our team will guide you through the setup process and answer any additional questions you may have.

                                    </p>
                                </div>
                                <i class="faq-toggle bi bi-chevron-right"></i>
                            </div><!-- End Faq item-->

                        </div>

                    </div><!-- End Faq Column-->

                </div>

            </div>

        </section><!-- /Faq Section -->
        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Contact</h2>
                <p>We’re here to help anytime you need us.</p>
            </div><!-- End Section Title -->

            <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
                <iframe style="border:0; width: 100%; height: 370px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3722.269754421376!2d79.00294059999997!3d21.101809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd495460724c01f%3A0xbd2dd8b79c7881c5!2sLata%20Mangeshkar%20Hospital%2C%20Digdoh!5e0!3m2!1sen!2sin!4v1744826359327!5m2!1sen!2sin" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!-- End Google Maps -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">
                    <div class="col-lg-6 ">
                        <div class="row gy-4">

                            <div class="col-lg-12">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bi bi-geo-alt"></i>
                                    <h3>Address</h3>
                                    <p>N. K. P. Salve Institute Of Medical Sciences & Research Centre And MediCare Hospital,<br /> Nagpur 440016, Maharashtra, INDIA.</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="col-md-6">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bi bi-telephone"></i>
                                    <h3>Call Us</h3>
                                    <p>07104-665000, 07104-244904<br /> WhatsApp Number :- 7767808177</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="col-md-6">
                                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                                    <i class="bi bi-envelope"></i>
                                    <h3>Email Us</h3>
                                    <p>nkpsims1@rediffmail.com<br />parthhiwase0@gmail.com</p>
                                </div>
                            </div><!-- End Info Item -->

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="4" placeholder="Message" required=""></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>

                                    <button type="submit">Send Message</button>
                                </div>

                            </div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>

        </section><!-- /Contact Section -->
        @RenderBody()
        <footer id="footer" class="footer light-background">

            <div class="container footer-top">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6 footer-about">
                        <a href="index.html" class="logo d-flex align-items-center">
                            <span class="sitename">MediCare</span>
                        </a>
                        <div class="footer-contact pt-3">
                            <p>
                                N. K. P. Salve Institute Of Medical Sciences & Research Centre And MediCare Hospital

                            </p>
                            <p> Nagpur 440016, Maharashtra, INDIA.</p>
                            <p class="mt-3"><strong>Phone:</strong> <span>WhatsApp Number :- 7767808177</span></p>
                            <p><strong>Email:</strong> <span>parthhiwase0@gmail.com</span></p>
                        </div>
                        @*<div class="social-links d-flex mt-4">
                                <a href=""><i class="bi bi-twitter-x"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>*@
                    </div>

                    <div class="col-lg-2 col-md-3 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-3 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><a href="#">Emergency & Trauma Care</a></li>
                            <li><a href="#">Outpatient & Inpatient Services</a></li>
                            <li><a href="#">Diagnostic Services</a></li>
                            <li><a href="#">Surgery & Operation Theaters</a></li>
                            <li><a href="#">Pharmacy Services</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-links">
                        <img src="~/Content/1744827671059.jpg" alt="" style="height:180px; width:350px;">
                    </div>

                </div>
            </div>

            <div class="container copyright text-center mt-4">
                <p>© <span>Copyright</span> <strong class="px-1 sitename">MediCare</strong> <span>All Rights Reserved</span></p>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you've purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                    Designed by <a href="">OrgSoft</a>
                </div>
            </div>

        </footer>

    </main>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Content/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Content/AppointmentJS.js"></script>
    <!-- Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>
</body>
</html>
